*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* font-family: "DM Sans", sans-serif; */
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  /* font-family: ; */

  box-sizing: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.u-text-center {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.max-width-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 0.625rem; /* 2.5/4 = 0.625 */
  padding-right: 0.625rem; /* 2.5/4 = 0.625 */
}

@media (min-width: 768px) {
  .max-width-container {
    padding-left: 5rem; /* 20/4 = 5 */
    padding-right: 5rem; /* 20/4 = 5 */
  }
}

/* image image-loader */

/* From Uiverse.io by Shoh2008 */
.img-loader-cont {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.image-loader {
  width: 64px;
  height: 64px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.image-loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}

.image-loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

/* From Uiverse.io by vikramsinghnegi */
.circle-center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #262626;
}

.circle-loader-circle-9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-family: sans-serif;
  font-size: 12px;
  color: #00eaff;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.circle-loader-circle-9:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #00eaff;
  border-right: 3px solid #00eaff;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.circle-loader-circle-9 span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.circle-loader-circle-9 span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00eaff;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #00eaff;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/* form page css */
/* form page css */
/* form page css */
/* form page css */

/* From Uiverse.io by JohnnyCSilva */
.db-cont .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  overflow-y: scroll;
  padding: 30px;
  /* width: 450px; */
  width: calc(100% - 90px);
  height: calc(100vh - 150px);
  margin: 15px;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.db-cont .form button {
  align-self: flex-end;
}

.db-cont .flex-column > label {
  color: #151717;
  font-weight: 600;
}

.db-cont .inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  /* height: 80px; */
  display: flex;
  max-width: 600px;
  align-items: center;
  padding-left: 10px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}

.db-cont .input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.db-cont .textarea {
  margin-left: 10px;
  /* border-radius: 10px; */
  border: none;
  outline: none;
  width: 100%;
  height: 60px;
}

.db-cont .input:focus {
  outline: none;
}

.db-cont .inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.db-cont .flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.db-cont .flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.db-cont .span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.db-cont .button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  /* height: 50px; */
  width: 30%;
  padding: 10px !important;
  cursor: pointer;
}

.db-cont .p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.db-cont .btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.db-cont .btn:hover {
  border: 1px solid #2d79f3;
}

/* image uploader  */
/* From Uiverse.io by Yaya12085 */
.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

.custum-file-upload img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

/* form page css */
/* form page css */
/* form page css */
/* form page css */
.heading-primary {
  margin: 0;
  padding: 0;
  text-align: center;
  /* font-size: 3rem; */
  color: #262626;
  background-image: linear-gradient(
    305deg,
    #da3925,
    #ffca2f,
    #da3925,
    #ffca2f,
    #da3925,
    #ffca2f,
    #da3925,
    #ffca2f,
    #da3925,
    #ffca2f
  );
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animateBackground 15s linear infinite;
  background-size: 400%;
  font-weight: 600;
  font-size: 28px;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.know-more-btn {
  background-color: #fff;
  padding: 8px 20px;
  outline: none;
  border: 2px solid #ffca2f;
  color: #ffca2f;
  margin: 5px 0;
  cursor: pointer;
}
